{% set title = title|default('Name-Challenge') %}
{% set number = number|default('340') %}
{% set description = description|default('Description') %}
{% set src = src|default('') %}
{% set product_id = product_id|default('') %}
{% set isPurchased = false %}

{# Vérifiez si l'utilisateur a acheté ce produit #}
{% if user is not null and user.purchase is not empty %}
    {% for product in user.purchase %}
        {% if product.id == product_id %}
            {% set isPurchased = true %}
        {% endif %}
    {% endfor %}
{% endif %}

<div class="w-96 h-full rounded-2xl bg-white border-greenDark flex flex-col items-center relative shadow-custom">
    <div class="relative w-full flex justify-between items-center rounded-t-2xl">
        <img class="w-full h-56 object-cover bg-cover bg-center z-0 rounded-t-2xl" src="{{ src }}" alt="image d'arbres"/>
        <div class="absolute bottom-4 left-4 bg-white px-2 h-6 rounded-full shadow-lg">
            {% include 'components/containers/graineCompteur.html.twig' %}
        </div>
        <div class="toggle-icon absolute bottom-4 right-9 cursor-pointer z-10" onclick="toggleDescription(this)">
            <span class="icon-up" style="display: none;">
                {% include 'components/containers/iconRounded/iconRoundedUp.html.twig' %}
            </span>
            <span class="icon-down" style="display: block;">
                {% include 'components/containers/iconRounded/iconRoundedDown.html.twig' %}
            </span>
        </div>
    </div>

    <div class="flex items-center mb-2 mt-2 px-4">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-gray-500 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z"/>
        </svg>
        <h3 class="font-bold text-lg">{{ title }}</h3>
    </div>

    <div class="w-full flex justify-center mb-4">
            {% if isPurchased %}
                <span>Vous avez déjà participé à cet événement</span>
            {% else %}
                 <div class="counter-right bg-greenDark text-whiter px-4 h-7 rounded-full">
                    <a href="{{ path('app_participer', { id: product_id }) }}">
                        <button id="participerBtn">Participer</button>
                    </a>
                 </div>
            {% endif %}

    </div>

    <div class="info-container w-full max-w-[91%] px-1 text-black bg-white py-3 rounded-lg shadow-lg" style="display: none;">
        <p class="text-sm">{{ description }}</p>
    </div>
</div>

<script>
    function toggleDescription(element) {
        const container = element.closest(".w-96");
        const infoContainer = container.querySelector(".info-container");
        const iconUp = container.querySelector(".icon-up");
        const iconDown = container.querySelector(".icon-down");

        if (infoContainer.style.display === "none" || infoContainer.style.display === "") {
            infoContainer.style.display = "block";
            iconUp.style.display = "block";
            iconDown.style.display = "none";
        } else {
            infoContainer.style.display = "none";
            iconUp.style.display = "none";
            iconDown.style.display = "block";
        }
    }

    document.querySelectorAll(".info-container").forEach(el => {
        el.style.display = "none";
    });
</script>
