c<div
  class=" bg-white w-96 h-full rounded-[32px] bg-greenMint flex justify-center items-center relative py-5 shadow-custom"
>
  <img
    class="w-[340px] h-[222px] bg-cover bg-center flex justify-center items-center relative rounded-2xl"
    src="..\images\miniatures\arbre.jpg"
    alt="image d'arbres"
  />
</div>