{% set description = description|default('') %}
{% set statistic = statistic|default('') %}
{% set unite = unite|default('') %}

<div class="flex flex-col justify-center items-center w-36 bg-greenMint rounded-2xl space-y-4 py-3 px-2 shadow-custom ">
    <div class="flex justify-center items-center w-full space-x-2.5">
        <div class="bg-greenLight rounded-full p-2">
            <img src="..\images\icons\arbres.png" alt="icône d'arbres">
        </div>
        <p class="text-base">
            {{ description }}
        </p>
    </div>
    <div>
        {{ statistic }} {{ unite }}
    </div>
</div>

