{% extends 'base.html.twig' %}

{% block title %}Mes amis
{% endblock %}

{% block body %}
	{% include 'components/headers/pageHeader.html.twig' with {
                'title': 'Amis',
            } %}
	<div>
		<h2 class="font-inter text-xl font-bold">Liste de vos amis :</h2>
		<div>
			{% include 'components/containers/contact.html.twig' with {
                'title': 'Amis',
            } %}
		</div>
	</div>
{% endblock %}
