{% extends 'base.html.twig' %}

{% block title %}Détail du tips{% endblock %}

{% block body %}
    <div class="flex flex-col items-center gap-5 lg:mt-24">
        <div class="flex flex-col items-center w-11/12">
            {% include 'components/headers/tipsHeader.html.twig' with {
                'imagePath': tip.image,
            } %}
        </div>

        <div class="w-11/12">
            <h2 class="font-rawles text-3xl">{{ tip.name }}</h2>
        </div>

        <div class="w-11/12">
            <p class="font-monsterrat text-sm text-justify">{{ tip.description }}</p>
        </div>

        <div class="w-11/12">
            <h3 class="font-rawles text-xl">Quelques tips</h3>
        </div>

        <div class="w-11/12 flex flex-col justify-center gap-3">
            <div class="flex items-center gap-2">
                <div class="flex justify-center items-center w-8 h-8 rounded-xl bg-greenMint">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 0C17.0753 0 22 4.9247 22 11C22 17.0753 17.0753 22 11 22C4.9247 22 0 17.0753 0 11C0 4.9247 4.9247 0 11 0ZM11 15.4C10.7083 15.4 10.4285 15.5159 10.2222 15.7222C10.0159 15.9285 9.9 16.2083 9.9 16.5C9.9 16.7917 10.0159 17.0715 10.2222 17.2778C10.4285 17.4841 10.7083 17.6 11 17.6C11.2917 17.6 11.5715 17.4841 11.7778 17.2778C11.9841 17.0715 12.1 16.7917 12.1 16.5C12.1 16.2083 11.9841 15.9285 11.7778 15.7222C11.5715 15.5159 11.2917 15.4 11 15.4ZM11 4.95C9.94245 4.95 8.92821 5.37011 8.18041 6.11791C7.43261 6.86571 7.0125 7.87995 7.0125 8.9375C7.0125 9.22924 7.12839 9.50903 7.33468 9.71532C7.54097 9.92161 7.82076 10.0375 8.1125 10.0375C8.40424 10.0375 8.68403 9.92161 8.89032 9.71532C9.09661 9.50903 9.2125 9.22924 9.2125 8.9375C9.21286 8.61304 9.30153 8.2948 9.469 8.0169C9.63647 7.739 9.87642 7.51192 10.1631 7.36001C10.4498 7.20811 10.7725 7.1371 11.0965 7.15461C11.4204 7.17212 11.7336 7.27748 12.0022 7.4594C12.2709 7.64132 12.485 7.89294 12.6215 8.18727C12.7581 8.4816 12.8119 8.80754 12.7773 9.13015C12.7427 9.45276 12.6209 9.75987 12.4251 10.0185C12.2292 10.2772 11.9666 10.4777 11.6655 10.5985C10.9219 10.8955 9.9 11.6567 9.9 12.925V13.2C9.9 13.4917 10.0159 13.7715 10.2222 13.9778C10.4285 14.1841 10.7083 14.3 11 14.3C11.2917 14.3 11.5715 14.1841 11.7778 13.9778C11.9841 13.7715 12.1 13.4917 12.1 13.2C12.1 12.9316 12.155 12.7974 12.3871 12.683L12.4828 12.639C13.3417 12.2935 14.0536 11.6599 14.4966 10.847C14.9396 10.0341 15.0859 9.09236 14.9106 8.18332C14.7353 7.27428 14.2493 6.45454 13.5358 5.86462C12.8223 5.2747 11.9258 4.95135 11 4.95Z" fill="#1D3932"/>
                    </svg>
                </div>
                <p class="font-monsterrat text-base text-justify">Description du tip</p>
            </div>

            <div class="flex items-center gap-2">
                <div class="flex justify-center items-center w-8 h-8 rounded-xl bg-greenMint">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 0C17.0753 0 22 4.9247 22 11C22 17.0753 17.0753 22 11 22C4.9247 22 0 17.0753 0 11C0 4.9247 4.9247 0 11 0ZM11 15.4C10.7083 15.4 10.4285 15.5159 10.2222 15.7222C10.0159 15.9285 9.9 16.2083 9.9 16.5C9.9 16.7917 10.0159 17.0715 10.2222 17.2778C10.4285 17.4841 10.7083 17.6 11 17.6C11.2917 17.6 11.5715 17.4841 11.7778 17.2778C11.9841 17.0715 12.1 16.7917 12.1 16.5C12.1 16.2083 11.9841 15.9285 11.7778 15.7222C11.5715 15.5159 11.2917 15.4 11 15.4ZM11 4.95C9.94245 4.95 8.92821 5.37011 8.18041 6.11791C7.43261 6.86571 7.0125 7.87995 7.0125 8.9375C7.0125 9.22924 7.12839 9.50903 7.33468 9.71532C7.54097 9.92161 7.82076 10.0375 8.1125 10.0375C8.40424 10.0375 8.68403 9.92161 8.89032 9.71532C9.09661 9.50903 9.2125 9.22924 9.2125 8.9375C9.21286 8.61304 9.30153 8.2948 9.469 8.0169C9.63647 7.739 9.87642 7.51192 10.1631 7.36001C10.4498 7.20811 10.7725 7.1371 11.0965 7.15461C11.4204 7.17212 11.7336 7.27748 12.0022 7.4594C12.2709 7.64132 12.485 7.89294 12.6215 8.18727C12.7581 8.4816 12.8119 8.80754 12.7773 9.13015C12.7427 9.45276 12.6209 9.75987 12.4251 10.0185C12.2292 10.2772 11.9666 10.4777 11.6655 10.5985C10.9219 10.8955 9.9 11.6567 9.9 12.925V13.2C9.9 13.4917 10.0159 13.7715 10.2222 13.9778C10.4285 14.1841 10.7083 14.3 11 14.3C11.2917 14.3 11.5715 14.1841 11.7778 13.9778C11.9841 13.7715 12.1 13.4917 12.1 13.2C12.1 12.9316 12.155 12.7974 12.3871 12.683L12.4828 12.639C13.3417 12.2935 14.0536 11.6599 14.4966 10.847C14.9396 10.0341 15.0859 9.09236 14.9106 8.18332C14.7353 7.27428 14.2493 6.45454 13.5358 5.86462C12.8223 5.2747 11.9258 4.95135 11 4.95Z" fill="#1D3932"/>
                    </svg>
                </div>
                <p class="font-monsterrat text-base text-justify">Description du tip</p>
            </div>

            <div class="flex items-center gap-2">
                <div class="flex justify-center items-center w-8 h-8 rounded-xl bg-greenMint">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 0C17.0753 0 22 4.9247 22 11C22 17.0753 17.0753 22 11 22C4.9247 22 0 17.0753 0 11C0 4.9247 4.9247 0 11 0ZM11 15.4C10.7083 15.4 10.4285 15.5159 10.2222 15.7222C10.0159 15.9285 9.9 16.2083 9.9 16.5C9.9 16.7917 10.0159 17.0715 10.2222 17.2778C10.4285 17.4841 10.7083 17.6 11 17.6C11.2917 17.6 11.5715 17.4841 11.7778 17.2778C11.9841 17.0715 12.1 16.7917 12.1 16.5C12.1 16.2083 11.9841 15.9285 11.7778 15.7222C11.5715 15.5159 11.2917 15.4 11 15.4ZM11 4.95C9.94245 4.95 8.92821 5.37011 8.18041 6.11791C7.43261 6.86571 7.0125 7.87995 7.0125 8.9375C7.0125 9.22924 7.12839 9.50903 7.33468 9.71532C7.54097 9.92161 7.82076 10.0375 8.1125 10.0375C8.40424 10.0375 8.68403 9.92161 8.89032 9.71532C9.09661 9.50903 9.2125 9.22924 9.2125 8.9375C9.21286 8.61304 9.30153 8.2948 9.469 8.0169C9.63647 7.739 9.87642 7.51192 10.1631 7.36001C10.4498 7.20811 10.7725 7.1371 11.0965 7.15461C11.4204 7.17212 11.7336 7.27748 12.0022 7.4594C12.2709 7.64132 12.485 7.89294 12.6215 8.18727C12.7581 8.4816 12.8119 8.80754 12.7773 9.13015C12.7427 9.45276 12.6209 9.75987 12.4251 10.0185C12.2292 10.2772 11.9666 10.4777 11.6655 10.5985C10.9219 10.8955 9.9 11.6567 9.9 12.925V13.2C9.9 13.4917 10.0159 13.7715 10.2222 13.9778C10.4285 14.1841 10.7083 14.3 11 14.3C11.2917 14.3 11.5715 14.1841 11.7778 13.9778C11.9841 13.7715 12.1 13.4917 12.1 13.2C12.1 12.9316 12.155 12.7974 12.3871 12.683L12.4828 12.639C13.3417 12.2935 14.0536 11.6599 14.4966 10.847C14.9396 10.0341 15.0859 9.09236 14.9106 8.18332C14.7353 7.27428 14.2493 6.45454 13.5358 5.86462C12.8223 5.2747 11.9258 4.95135 11 4.95Z" fill="#1D3932"/>
                    </svg>
                </div>
                <p class="font-monsterrat text-base text-justify">Description du tip</p>
            </div>
        </div>
{% endblock %}