{% extends 'base.html.twig' %}

{% block title %}Détail du tips{% endblock %}

{% block body %}
    <div class="flex flex-col items-center gap-5 lg:mt-24">
        <div class="flex flex-col items-center w-11/12">
            {% include 'components/headers/tipsHeader.html.twig' %}
        </div>

        <div class="w-11/12">
            <h2 class="font-rawles text-3xl">{{ tip.name }}</h2>
        </div>

        <div class="w-11/12">
            <p class="font-monsterrat text-xl text-justify">{{ tip.description }}</p>
        </div>

{% endblock %}