{% extends 'base.html.twig' %}

{% block title %}Hello TipsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
        {% for tips in popularTips %}
            <h1>{{ tips.name }}</h1>
            <p>{{ tips.reward }}</p>
        {% else %}
            <p>Aucun défi n'a été trouvé.</p>
        {% endfor %}
    </div>
    <div class="example-wrapper">
        {% for tips in courseTips %}
            <h1>{{ tips.name }}</h1>
            <p>{{ tips.reward }}</p>
        {% else %}
            <p>Aucun défi n'a été trouvé.</p>
        {% endfor %}
    </div>
{% endblock %}
