{% extends 'base.html.twig' %}

{% block title %}Liste des Tips
{% endblock %}

{% block body %}
	{% include 'components/headers/pageHeader.html.twig' with {
		'title': 'Tips',
		'image_path': asset('/images/icons/Tips.svg')
	} %}

	<div class="flex flex-col">
		<div class="container-page">
			<!-- Catégorie Consommation  -->
			<section class="section-container">
				<h2 class="font-rawles text-3xl">Consommation </h2>
				<div class="flex flex-wrap gap-4">
					{# Debugging - Vérifier si les données existent dans consommationTips #}
					{# dump(consommationTips) #}

					{% for tip in consommationTips %}
						<a href="{{ path('app_tips_detail', { 'id': tip.id }) }}">
							{% include 'components/cards/tipsCard.html.twig' with {
								'imagePath': tip.image,
								'title': tip.name,
							} %}
						</a>
					{% else %}
						Aucun tip n'a été trouvé.
					{% endfor %}

				</div>
			</section>

			<!-- Catégorie economie -->
			<section class="section-container">
				<h2 class="font-rawles text-3xl">Economie</h2>
				<div class="flex flex-wrap gap-4">
					{# Debugging - Vérifier si les données existent dans energieTips #}
					{# dump(energieTips) #}

					{% for tip in energieTips %}
						<a href="{{ path('app_tips_detail', { 'id': tip.id }) }}">
							{% include 'components/cards/tipsCard.html.twig' with {
								'imagePath': tip.image,
								'title': tip.name,
							} %}
						</a>
					{% else %}
						Aucun tip n'a été trouvé.
					{% endfor %}
				</div>
			</section>
		</div>
	</div>
{% endblock %}
