{% set label = label|default('') %}
{% set placeholder = placeholder|default('') %}

<div class="space-y-3.5">
    <p class="ml-1 text-black">{{label}}</p>
    <div class="px-4 py-2 border-2 border-greenDark rounded-2xl w-72 h-11">
        <input type="text" placeholder="{{placeholder}}" class="w-full outline-none w-">
    </div>
</div>