{% extends 'base.html.twig' %}
{% block body %}
	<h1 class="text-3xl font-bold underline">
		Hello world
		{{response}}
	</h1>
	{% include 'components/test.html.twig' with {
                'title': "Mon autre title",
				'desc': 'desc supp',
                'titleColor': "text-greenMint",
                'image': "../images/logo/logo.png",
            } %}

			
	{% include 'components/buttons/button.html.twig' with {
		 'placeholder': "Placeholder",
		 'backgroundColor': "bg-greenDark",} %}

	{% include 'components/cards/challengeCard.html.twig' with {
                'number': "1234",
                'title': "Mon titre",
            } %}
	{% include 'components/cards/statCardLittle.html.twig' with{
	  	'Amis':"Amis",
		'rang':"rang",
		'background':"bg-greenMint",} %}

	{% include 'components/navigation/bottomNavBar.html.twig' %}
{% endblock %}

