{% extends 'base.html.twig' %}
{% block body %}
	<h1 class="text-3xl font-bold underline">
		Hello world
	</h1>
	{% include 'components/test.html.twig' with {
                'title': "Mon autre title",
				'desc': 'desc supp',
                'titleColor': "text-greenMint",
                'image': "../images/logo/logo.png",
            } %}


	{% include 'components/forms/textForm.html.twig' with {
				'label' : 'Label de texte',
				'placeholder' : 'Rechercher',
	} %}

	{% include 'components/forms/searchForm.html.twig' with {
				'placeholder' : 'Rechercher',
	} %}
	{% include 'components/buttons/button.html.twig' with {
		 'placeholder': "Placeholder",
		 'backgroundColor': "bg-greenMint",} %}

	{% include 'components/cards/challengeCard.html.twig' with {
                'number': "1234",
                'title': "Mon titre",
            } %}

	{% include 'components/cards/tipsCard.html.twig' with {
                'title': "Mon titre",
            } %}

	{% include 'components/cards/tipsCard.html.twig' %}


	{% include 'components/navigation/bottomNavBar.html.twig' %}

	{% include 'components/headers/tipsHeader.html.twig' %}
{% endblock %}

