{% extends 'base.html.twig' %}
{% block body %}
	<h1 class="text-3xl font-bold underline">
		Hello world
	</h1>
	{% include 'components/test.html.twig' with {
                'title': "Mon autre title",
				'desc': 'desc supp',
                'titleColor': "text-greenMint",
                'image': "../images/logo/logo.png",
            } %}

	{% include 'components/forms/searchForm.html.twig' with {
				'placeholder' : 'Rechercher',
	} %}
	{% include 'components/buttons/button.html.twig' with {
		 'placeholder': "Placeholder",
		 'backgroundColor': "bg-greenDark",} %}

	{% include 'components/cards/challengeCard.html.twig' with {
                'number': "1234",
                'title': "Mon titre",
            } %}

	{% include 'components/cards/statCardLittle.html.twig' with{
	  	'Amis':"Amis",
		'rang':"rang",
		'background':"bg-greenMint",} %}


	{% include 'components/cards/tipsCard.html.twig' with {
                'title': "Mon titre",
            } %}

	{% include 'components/cards/tipsCard.html.twig' %}

	{% include 'components/cards/achat.html.twig' %}

	{% include 'components/cards/achatdetail.html.twig' %}


	{% include 'components/navigation/bottomNavBar.html.twig' %}

	{% include 'components/headers/tipsHeader.html.twig' %}
	
	{% include 'components/headers/pageHeader.html.twig' %}

	{% include 'components/containers/contact.html.twig' %}

	{% include 'components/containers/addFriend.html.twig' %}

	{% include 'components/containers/classement.html.twig' %}
	
	
{% endblock %}

