{% set text = text|default('')%}
{% set backgroundColor = backgroundColor|default('bg-greenDark')%}
{% set textColor = textColor|default('text-white')%}
{% set placeholder = placeholder|default('')%}
{% set href = href|default('')%}

<div>
	<a href="{{ href }}">
		<button class="{{ textColor }} {{backgroundColor}} text-sm rounded-2xl w-44 h-12">{{placeholder}}</button>
	</a>
</div>
