{% set text = text|default('')%}
{% set backgroundColor = backgroundColor|default('bg-greenDark')%}
{% set textColor = textColor|default('text-white')%}
{% set placeholder = placeholder|default('')%}

<div class="">
    <button type="submit" class="{{ textColor }} {{backgroundColor}} text-sm rounded-2xl py-1 px-3 h-12">{{placeholder}}</button>
</div>