{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!
{% endblock %}

{% block body %}
	<div class="flex flex-col">
		<div class="container-page">
			<section class="section-container space-y-4 flex justify-center">
				<div class="justify-items-center space-y-3">
					<div class="justify-items-center ">
						<div>
							<img src="{{ asset('images/default-profil/pepe-lunettes-doree.jpg') }}" alt="Profil" class="rounded-full" width="80" height="80">
						</div>
						<h2 class="font-rawles text-lg">Alice GUEGAN</h2>
						<p class="font-monsterrat text-sm">15 amis</p>
					</div>
					{% include 'components/buttons/button.html.twig' with {
		                'placeholder': "Modifier",} %}
				</div>
			</section>
			<section class="section-container">
				{% include 'components/cards/statCard.html.twig' with{
                    'description':"Amis",
                    'statistic':"rang",
                    'unite':"/jour",} %}
			</section>
			<section class="section-container">
				<div class="flex place-content-between pb-8">
					<h2 class="font-rawles text-3xl">Vos badges</h2>
					<p class="font-inter text-3xl">3/15</p>
				</div>
				<div class="flex flex-wrap gap-6 justify-center">
					{% include 'components/cards/badge.html.twig' with {
		                'title': "super challenger",
                        'src': "../images/icons/badge.svg"} %}
				</div>
			</section>
			<section class="section-container">
				<a class="text-xs font-monsterrat">Mentions légales</a>
			</section>
		</div>
	</div>
{% endblock %}
