{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


	<div class="flex flex-col justify-center items-center h-dvh bg-greenDark ">
		<div class="flex justify-center max-md:w-4/5 relative ">
			<div class="absolute left-8 -top-10 md:-left-8">
				<img src="..\images\icons\feuille.svg" alt="">
			</div>
			<h2 class="text-white text-center text-6xl w-fit font-rawles">
				SAUVER LA PLANETE
			</h2>
		</div>

		<div class="m-36">
			{% include 'components/buttons/button.html.twig' with {
            'placeholder': "COMMENCER",
            'backgroundColor': "bg-white",
            'textColor' : "text-greenDark",
            'href': path('app_login')} %}
		</div>
	</div>
	<div></div>
{% endblock %}
