{% extends 'base.html.twig' %}

{% block title %}Hello ActualityDetailController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { 
        margin: 1em auto; 
        max-width: 800px; 
        width: 95%; 
        font: 18px/1.5 sans-serif; 
    }
    /* Conteneur du fond vert, adapté pour être responsive */
    .background {
        width: 100%;
        max-width: 390px;
        aspect-ratio: 390 / 233; /* Assure le bon ratio de taille */
        background-color: #006400;
        border-radius: 32px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 4px 8px rgba(29, 57, 50, 0.7);
        margin: 0 auto; /* Centre le conteneur */
    }
    /* Conteneur de l'image centrée par-dessus, avec taille responsive */
    .background img {
        width: 95%; /* Ajuste la largeur de l'image par rapport au conteneur */
        max-width: 370px;
        aspect-ratio: 370 / 213;
        border-radius: 32px;
        position: absolute;
        z-index: 1;
    }
</style>

<div class="example-wrapper">
    <h1>TITRE DE L'ARTICLE</h1>
    <br>

    <!-- Fond vert avec l'image superposée par-dessus -->
    <div class="background">
        <img
            src="/images/miniatures/arbre.jpg"
            alt="arbre"
        />
    </div>

    <br>
    <h1>Rédigé par Sherzboub,</h1>
    <h1>Jeudi 7 Novembre 2024 - SPA</h1>
    <br>

    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sit amet gravida massa. Curabitur magna risus, viverra vel turpis quis, ornare condimentum orci. Sed nunc odio, tempus ac metus at, eleifend tincidunt mi. Suspendisse potenti. Quisque sollicitudin vel odio iaculis pellentesque. Maecenas a tellus egestas, iaculis nunc et, dictum velit. In diam odio, consectetur ut mollis non, commodo non tortor. Aliquam vestibulum mauris est, in interdum felis ornare non. Quisque bibendum quam at posuere convallis.
        Phasellus ornare egestas dolor vitae consectetur. Integer eget luctus ipsum. Cras sed metus orci. Nam eu turpis eget turpis condimentum mattis fringilla a dui. Aliquam sollicitudin suscipit dui eu condimentum. Suspendisse ex odio, blandit eu molestie ac, dignissim eu erat. Praesent ipsum ex, tempor rhoncus blandit ac, imperdiet sit amet justo.
        Proin et viverra sapien, in gravida urna. Nulla eu magna id lectus porttitor lobortis vitae id ligula. Mauris lacinia eros eget ultricies malesuada. Suspendisse potenti. Quisque</h3>
    <br>
</div>
{% endblock %}
