{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}
{% block header %}
	{% include 'components/navigation/infoBar.html.twig' %}
{% endblock %}
{% block body %}
	<div class="flex flex-col items-center">
		<div class="container-page">
			<section class="section-container">
			<div class="flex flex-row justify-between">
				<h2 class="font-rawles text-3xl">Aujourd'hui</h2>
				<h2 class="font-montserrat underline text-sm">Voir plus</h2>
			</div>	
				<div class="space-y-4">
					{% for dailyQuest in dailyQuests %}
						{% include 'components/cards/challengeCard.html.twig' with {
                            'number': dailyQuest.rewards,
                            'title': dailyQuest.Name,
                    } %}
					{% else %}
						Aucun challenge quotidien n'a été trouvé.
					{% endfor %}
				</div>
			</section>
			<section class="section-container">
				<h2 class="font-rawles text-3xl">Ma semaine</h2>
				<div class="flex flex-wrap space-x-3">
					{% include 'components/cards/statCardLittle.html.twig' with{
                    'Amis': averagePointsPerDay,
                    'rang':"graines/jour",
                    'background':"bg-greenMint",} %}
					{% include 'components/cards/statCardLittle.html.twig' with{
                    'Amis':pointsLast7Days,
                    'rang':"pts sur 7j",
                    'background':"bg-greenMint",} %}
					{% include 'components/cards/statCardLittle.html.twig' with{
                    'Amis': availablePoints,
                    'rang':"pts dispo",
                    'background':"bg-greenMint",} %}
				</div>
			</section>
			<section class="section-container">
				<h2 class="font-rawles text-3xl">Je veux participer</h2>
				<div class="space-y-4">
					{% for monthlyQuest in monthlyQuests %}
						{% include 'components/cards/challengeCard.html.twig' with {
                            'number': monthlyQuest.rewards,
                            'title': monthlyQuest.Name,
                    } %}
					{% else %}
						Aucun challenge mensuel n'a été trouvé.
					{% endfor %}
				</div>
			</section>
		</div>
	</div>
{% endblock %}
{# <style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/Users/nathael/dev/EcoGrow/src/Controller/AccueilController.php</code></li>
        <li>Your template at <code>/Users/nathael/dev/EcoGrow/templates/accueil/index.html.twig</code></li>
    </ul>
</div> #}
