@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    :root {
        --black: #1A1A1A;
        --whiter: #FDF7F2;
        --white: #FAF8F6;
        --greenDark: #1E3932;
        --greenLight: #13A96A;
        --greenMint: #D4E9E2;
        --red: #FF0000;
    }

    .dark {
        --black: #e6e6e6;
        --whiter: #0d0702;
        --white: #FAF8F6;
        --greenDark: #c6e1da;
        --greenLight: #55ecad;
        --greenMint: #172c25;
        --red: #FF0000;
    }
}

textarea:focus,
input:focus {
    outline: none;
}

* {
    margin: 0;
    padding: 0;
}

input {
    background-color: var(--white);
}

.container-page{
    @apply pt-10 px-4 space-y-10
}

.section-container{
    @apply space-y-4
}