{% extends 'base.html.twig' %}

{% block title %}Hello MaintenanceController!{% endblock %}

{% block body %}
<div class="flex flex-col justify-center items-center h-dvh gap-10 bg-white">
    <div>
        <img src="..\images\errors\maintenance.png" alt="">
    </div>
    <h1 class="text-center text-4xl w-3/4 font-rawles">
        MAINTENANCE : ECOGROW S'ACCORDE UNE PAUSE🌱. ON REVIENT VITE, MERCI DE PATIENTER !
    </h1>
    {% include 'components/buttons/button.html.twig' with {
		 'placeholder': "RETOURNER À LA PAGE D'ACCUEIL",
		 'backgroundColor': "bg-greenDark",} %}
</div>
{% endblock %}