{% extends 'base.html.twig' %}

{% block title %}Hello ActualityController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello ! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>List of articles:</li>
            {% for article in articles %}
                <li>
                    <strong>{{ article.name }}</strong> - {{ article.createDate|date('Y-m-d H:i') }}
                    {% if article.getImage %}
                        <img src="data:image/jpeg;base64,{{ article.getImage }}" alt="{{ article.name }}" width="250">
                    {% endif %}
                </li>
            {% else %}
                <li>No articles found.</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}