{% extends 'base.html.twig' %}

{% block title %}Hello Error403Controller!{% endblock %}

{% block body %}
<div class="flex flex-col justify-center items-center h-dvh gap-10 bg-white">
    <div>
        <img src="..\images\errors\error403.png" alt="">
    </div>
    <h1 class="text-center text-4xl w-3/4 font-rawles">
        ERREUR 403 : ACCES REFUSE ! CE JARDIN EST PRIVE. RETOUR A L'ACCUEIL
    </h1>
    {% include 'components/buttons/button.html.twig' with {
		 'placeholder': "RETOURNER À LA PAGE D'ACCUEIL",
		 'backgroundColor': "bg-greenDark",} %}
</div>
{% endblock %}
