{% extends 'base.html.twig' %}

{% block title %}Hello BoutiqueController!{% endblock %}

{% block body %}
    <div class="flex flex-col items-center gap-5">
        {% include 'components/headers/pageHeader.html.twig' with {
            'title': 'Boutique',} %}

        <div class="flex flex-wrap justify-center items-center gap-5">
            {% include 'components/cards/achat.html.twig' with {
                'title': 'Nom de l\'élément',
                'number': '340',
                'description':'Nec sane haec sola pernicies orientem diversis cladibus adfligebat. Namque et Isauri, quibus est usitatum saepe pacari saepeque inopinis excursibus cuncta miscere, ex latrociniis occultis et raris, alente inpunitate adulescentem in peius audaciam ad bella gravia proruperunt, diu quidem perduelles spiritus inrequietis motibus erigentes, hac tamen indignitate perciti vehementer, ut iactitabant, quod eorum capiti quidam consortes apud Iconium Pisidiae oppidum in amphitheatrali spectaculo feris praedatricibus obiecti sunt praeter morem.'} %}

            {% include 'components/cards/achat.html.twig' with {
                'title': 'Name-Challenge',
                'number': '340',} %}

            {% include 'components/cards/achat.html.twig' with {
                'title': 'Name-Challenge',
                'number': '340',} %}

            {% include 'components/cards/achat.html.twig' with {
                'title': 'Name-Challenge',
                'number': '340',} %}
        </div>
    </div>
{% endblock %}
