{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
    <div class="flex flex-col items-center gap-5">
        {% include 'components/headers/pageHeader.html.twig' with {
            'title': "Boutique",
            'image_path': asset('/images/icons/shop.svg')} 
            %}

	<div class="flex flex-wrap justify-center items-center gap-5">
		{% include 'components/cards/achat.html.twig' with {
                'title': 'Nom de l\'élément',
                'number': '340',
                'description':'Description',
                'src': "..\images\default-profil\daron-chauve.jpg"} %}
            {% include 'components/cards/achat.html.twig' with {
                'title': 'Nom de l\'élément',
                'number': '340',
                'description':'Description',
                'src': "..\images\default-profil\daron-chauve.jpg"} %}
		{% include 'components/cards/achat.html.twig' with {
                'title': 'Nom de l\'élément',
                'number': '340',
                'description':'Description',
                'src': "..\images\default-profil\daron-chauve.jpg"} %}
        </div>
    </div>
{% endblock %}
