<div style="display: flex; justify-content: space-between; align-items: center; padding: 0 20px;">
    <!-- Profil -->
    <div class="profile">
        <img src="{{ asset('images/default-profil/pepe-lunettes-doree.jpg') }}" alt="Profil" class="rounded-full" width="50" height="40">
    </div>

    <!-- Notifs -->
    <div style="display: inline-flex; align-items: right; white-space: nowrap; gap: 250px;">
    <div class="notif" style="gap: 15px";>
        <img src="{{ asset('images/icons/cloche.png') }}" alt="Profil" class="rounded-circle" width="50" height="50";>
    </div>

</div>
