<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}EcoGrow
			{% endblock %}
		</title>
		<link rel="icon" src="../images/logo.png">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">

		{# Polices #}
		<link href="https://fonts.cdnfonts.com/css/rawles" rel="stylesheet">

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="bg-white pb-24 h-full"> {% block body %}{% endblock %}
		</body>
		<footer>
			{% include 'components/navigation/bottomNavBar.html.twig' %}
		</footer>
	</html>
