    <div class="profile">
        <img src="{{ asset('public\images\default-profil\pepe-lunettes-doree.jpg') }}" alt="Profil" class="rounded-circle" width="40" height="40">
    </div>
       
    <div class="notif">
        <img src="{{ asset('public\images\default-profil\pepe-lunettes-doree.jpg') }}" alt="Profil" class="rounded-circle" width="40" height="40">
    </div>