<div class="d-flex align-items-center">
    <!-- Profil -->
    <div class="profile">
        <img src="{{ asset('public\images\default-profil\pepe-lunettes-doree.jpg') }}" alt="Profil" class="rounded-circle" width="40" height="40">
    </div>

    <!-- Classement -->
    <div class="ms-3 badge bg-dark text-white d-flex align-items-center">
        <span>1er 👑</span>
        <span class="ms-2">
            <i class="bi bi-trophy-fill"></i> 
        </span>
    </div>

    <!-- Points -->
    <div class="ms-3 badge bg-success text-white d-flex align-items-center">
        <span>340</span>
        <span class="ms-2">
            <i class="bi bi-tv-fill"></i> public\images\icons\billets.png
        </span>
    </div>

    <!-- Objectif -->
    <div class="ms-3 badge bg-light text-success d-flex align-items-center">
        <span>2/3</span>
        <span class="ms-2">
            <i class="bi bi-check-circle-fill"></i> public\images\icons\target.png
        </span>
    </div>

    <div class="notif">
        <img src="{{ asset('public\images\default-profil\pepe-lunettes-doree.jpg') }}" alt="Profil" class="rounded-circle" width="40" height="40">
    </div>

</div>