{% set imagePath = tips.image|default('') %}

<div
  class="w-full h-full rounded-[32px] bg-greenDark flex justify-center items-center relative py-10 shadow-custom"
>
  <!-- Bouton -->
  <!--<button class="absolute top-4 left-4 bg-greenMint w-12 h-12 z-12 rounded-2xl flex items-center justify-center hover:bg-green-400 focus:outline-none">
    <svg
      width="24"
      height="28"
      viewBox="0 0 8 12"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M6 12L0 6L6 0L7.4 1.4L2.8 6L7.4 10.6L6 12Z" fill="#1D3932" />
    </svg>
  </button> -->

  <div class="w-[390px] h-[405px] flex justify-center items-center relative">
    <!-- SVG feuille solo droite -->
    <div class="absolute top-[0px] right-[20px]">
      <svg
        class="w-[60px] h-[55.5px] flex-shrink-0"
        xmlns="http://www.w3.org/2000/svg"
        width="44"
        height="71"
        viewBox="0 0 44 71"
        fill="none"
      >
        <path
          d="M28.9592 40.9909C28.6905 41.0717 28.4085 41.0988 28.1293 41.0705C27.8501 41.0423 27.5792 40.9593 27.3321 40.8264C27.085 40.6934 26.8664 40.5131 26.689 40.2957C26.5116 40.0783 26.3787 39.8281 26.298 39.5593C22.4142 26.6223 16.688 16.8095 8.07019 8.5174C4.57718 11.4348 2.10541 15.4383 0.982774 20.0881C-0.506863 26.2576 0.460793 32.9407 3.7785 39.4125C6.74005 45.1899 11.0019 48.7098 15.1253 52.1142C20.3271 56.4096 25.2405 60.4675 27.2592 68.9648C27.4863 69.9069 28.1329 70.6056 28.9999 70.8425C29.9938 71.1079 30.9635 70.7611 31.8888 69.7967C34.0553 67.5397 37.8961 59.9259 40.5687 51.0905C44.8642 36.8964 43.8503 27.8737 42.2433 22.8028C40.165 16.254 35.7094 10.7196 30.0071 7.42736C28.9332 6.80508 27.8142 6.26417 26.6595 5.80917C21.414 3.75521 16.0002 3.8598 11.702 6.07797C20.4966 14.745 26.3817 24.9688 30.3963 38.3282C30.4772 38.5974 30.5042 38.8799 30.4757 39.1596C30.4472 39.4392 30.3639 39.7105 30.2304 39.9578C30.0969 40.2052 29.9159 40.4237 29.6977 40.601C29.4796 40.7783 29.2287 40.9108 28.9592 40.9909ZM3.05686 4.11189C4.8302 5.53508 6.49818 6.99921 8.07104 8.51326C9.04306 7.70103 10.0864 6.97816 11.1883 6.35344C11.3562 6.25762 11.5281 6.16564 11.7009 6.0773C9.80232 4.21068 7.80944 2.44252 5.73003 0.779753C5.51208 0.597078 5.25986 0.459752 4.98815 0.375824C4.71644 0.291897 4.43071 0.263056 4.14771 0.290994C3.86471 0.318931 3.59013 0.403086 3.34008 0.538522C3.09002 0.673959 2.86952 0.857952 2.6915 1.07972C2.51348 1.30148 2.38152 1.55655 2.30336 1.82997C2.2252 2.1034 2.20242 2.38968 2.23633 2.67203C2.27026 2.95437 2.3602 3.22711 2.5009 3.47424C2.6416 3.72138 2.83022 3.93793 3.0557 4.11122L3.05686 4.11189Z"
          fill="#00AA6A"
        />
      </svg>
    </div>

    <!-- Image poubelle -->
    <div>
     			<img src="{{ imagePath ? ('data:image/jpeg;base64,' ~ imagePath) : asset('images/default-profil/pepe-lunettes-doree.jpg') }}" alt="Profil" class="rounded-full w-10 h-10">

    </div>

    <!-- SVG feuille duo gauche -->
    <div class="absolute bottom-[0px] left-[20px]">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="80px"
        height="56.25px"
        viewBox="0 0 76 79"
        fill="none"
        style="transform: rotate(0deg); flex-shrink: 0"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M43.4217 30.6874C40.6907 20.7047 34.2519 13.4686 28.6513 8.79537C26.3252 6.84867 23.8472 5.08979 21.2411 3.53576C20.2557 2.94933 19.2485 2.40015 18.2219 1.88943L18.0323 1.79935L17.9833 1.77107L17.9609 1.76461L17.9512 1.75895L15.9897 0.858918L14.6202 2.4958L14.6013 2.51718L14.558 2.56963L14.393 2.76491L13.8247 3.48916C10.9483 7.25029 8.43954 11.2775 6.33205 15.5169C2.58776 23.1104 -0.780478 33.5811 2.02687 43.8274C4.77118 53.8437 11.1441 60.8093 16.7061 65.2214C19.1136 67.1323 21.6881 68.8239 24.3981 70.2757L26.7184 66.2567L18.6277 36.6968L24.074 35.2702L30.6791 59.4078L44.2854 35.841C44.17 34.0958 43.884 32.3747 43.4217 30.6874ZM45.3412 45.3214L35.1092 63.0437L47.1493 61.2792L48.0244 66.8203L31.5308 69.2417L29.3279 73.0573C31.1063 74.1122 32.9541 75.0454 34.8584 75.8501C39.6368 77.8535 46.3287 79.6188 53.0828 77.8497C59.9012 76.0597 65.3144 70.5401 68.8633 65.9198C70.9934 63.1298 72.8777 60.1613 74.4955 57.0468L74.5751 56.8862L74.6031 56.8377L74.6038 56.8252L75.5835 54.789L73.7939 53.3878L73.7743 53.3765L73.7358 53.3413L73.6001 53.2372L73.0929 52.8604C70.5142 51.0064 67.785 49.3703 64.9345 47.9694C59.9489 45.5558 52.9176 43.1684 46.4349 45.0103L46.1272 45.0909L45.3412 45.3214Z"
          fill="#00AA6A"
        />
      </svg>
    </div>
  </div>
</div>
