{% set number = number|default('') %}
{% set classement = classement|default('') %}
{% set nom = nom|default('') %}
{% set image_path = image_path|default('') %}

<div class="flex flex-col items-center w-36 space-y-3">
	<p class="font-rawles text-black text-lg">{{ classement }}</p>
	<img src="{{ image_path }}" alt="Image Profil" class="w-16 h-16 rounded-full mb-5 shadow-custom"/>
	<p class="font-rawles text-black text-lg">{{ nom }}</p>
	<div class="flex items-center">
		{% include 'components/containers/graineCompteur.html.twig' with {
                            'number': number,
                        } %}
	</div>
</div>
