{% extends 'base.html.twig' %}

{% block title %}Hello ClassementController!
{% endblock %}

{% block body %}
<svg
          xmlns="http://www.w3.org/2000/svg"
          width="50"
          height="50"
          viewbox="0 0 50 50"
          fill="none"
        >
          <path
            d="M24.9999 -0.00012207C38.8074 -0.00012207 49.9999 11.1924 49.9999 24.9999C49.9999 38.8074 38.8074 49.9999 24.9999 49.9999C11.1924 49.9999 -0.00012207 38.8074 -0.00012207 24.9999C-0.00012207 11.1924 11.1924 -0.00012207 24.9999 -0.00012207ZM24.9999 34.9999C24.3368 34.9999 23.701 35.2633 23.2321 35.7321C22.7633 36.201 22.4999 36.8368 22.4999 37.4999C22.4999 38.1629 22.7633 38.7988 23.2321 39.2676C23.701 39.7365 24.3368 39.9999 24.9999 39.9999C25.6629 39.9999 26.2988 39.7365 26.7676 39.2676C27.2365 38.7988 27.4999 38.1629 27.4999 37.4999C27.4999 36.8368 27.2365 36.201 26.7676 35.7321C26.2988 35.2633 25.6629 34.9999 24.9999 34.9999ZM24.9999 11.2499C22.5964 11.2499 20.2913 12.2047 18.5917 13.9042C16.8922 15.6038 15.9374 17.9089 15.9374 20.3124C15.9374 20.9754 16.2008 21.6113 16.6696 22.0801C17.1385 22.549 17.7743 22.8124 18.4374 22.8124C19.1004 22.8124 19.7363 22.549 20.2051 22.0801C20.674 21.6113 20.9374 20.9754 20.9374 20.3124C20.9382 19.575 21.1397 18.8517 21.5203 18.2201C21.9009 17.5885 22.4463 17.0724 23.0979 16.7272C23.7495 16.3819 24.4828 16.2206 25.2191 16.2604C25.9554 16.3001 26.6671 16.5396 27.2777 16.9531C27.8883 17.3665 28.3748 17.9384 28.6851 18.6073C28.9954 19.2762 29.1179 20.017 29.0392 20.7502C28.9606 21.4834 28.6838 22.1814 28.2387 22.7693C27.7935 23.3572 27.1968 23.8128 26.5124 24.0874C24.8224 24.7624 22.4999 26.4924 22.4999 29.3749V29.9999C22.4999 30.6629 22.7633 31.2988 23.2321 31.7676C23.701 32.2365 24.3368 32.4999 24.9999 32.4999C25.6629 32.4999 26.2988 32.2365 26.7676 31.7676C27.2365 31.2988 27.4999 30.6629 27.4999 29.9999C27.4999 29.3899 27.6249 29.0849 28.1524 28.8249L28.3699 28.7249C30.3219 27.9396 31.94 26.4998 32.9467 24.6522C33.9534 22.8046 34.2861 20.6643 33.8877 18.5983C33.4893 16.5323 32.3846 14.6693 30.763 13.3286C29.1414 11.9878 27.1039 11.2529 24.9999 11.2499Z"
            fill="#FDF7F2"
          />
	{% include 'components/headers/pageHeader.html.twig' with {
        'title': 'Classement',
    } %}
	<div class="">
		<div
			class="rounded mx-auto mt-4">
			<!-- Tabs -->
			<ul id="tabs" class="inline-flex pt-2 px-1 w-full justify-center">
				<li class="bg-white px-4 text-gray-800 font-semibold py-2 rounded-t -mb-px">
					<a id="tab-top-10" href="#first" onclick="setActiveTab('tab-top-10')">
						<div class="tab-content inline-flex items-center bg-greenDark text-white" style="padding: 2px 13px; border-radius: 10px; box-shadow: 0px 4px 8px 0px rgba(29, 57, 50, 0.70); gap: 15px;">
							<span class="text-lg font-rawles">Top 10</span>
						</div>
					</a>
				</li>
				<li class="px-4 text-gray-800 font-semibold py-2 rounded-t">
					<a id="tab-top-friends" href="#second" onclick="setActiveTab('tab-top-friends')">
						<div class="tab-content inline-flex items-center bg-greenMint text-greenDark" style="padding: 2px 13px; border-radius: 10px; box-shadow: 0px 4px 8px 0px rgba(29, 57, 50, 0.70); gap: 15px;">
							<span class="text-lg font-rawles">Top amis</span>
						</div>
					</a>
				</li>
			</ul>

			<!-- Tab Contents -->
			<div id="tab-contents" class="flex justify-items-center place-content-center pt-16">
				<!-- Podium -->
				<div id="first" class="space-y-16">
					<div class="flex justify-center items-end gap-2">
						<!-- Podium 2ème place -->
						<div class="text-center bg-gray-100 rounded-lg shadow-lg w-32 transform translate-y-2">
							{% include 'components/containers/podium.html.twig' with {
                                    'classement': '2',
                                    'image_path': asset('/images/default-profil/daron-chauve.jpg'),
                                    'nom': 'Bob LEBRON',
                                    'number': '180',
                                } %}
						</div>

						<!-- Podium 1ère place, plus élevé -->
						<div class="text-center bg-gray-100 rounded-lg shadow-lg w-32 transform -translate-y-5">
							{% include 'components/containers/podium.html.twig' with {
                                'classement': '1',
                                'image_path': asset('/images/default-profil/daron-chauve.jpg'),
                                'nom': 'Alice GUEGAN',
                                'number': '210',
                            } %}
						</div>

						<!-- Podium 3ème place -->
						<div class="text-center bg-gray-100 rounded-lg shadow-lg w-32 transform translate-y-4">
							{% include 'components/containers/podium.html.twig' with {
                                'classement': '3',
                                'image_path': asset('/images/default-profil/daron-chauve.jpg'),
                                'nom': 'Charlie DUPONT',
                                'number': '160',
                            } %}
						</div>
					</div>
					<!-- Liste places suivantes -->
					<div class="space-y-4 flex flex-col justify-center justify-self-center">
						{% include 'components/containers/classement.html.twig' with {
                            'classement': '1',
                            'image_path': asset('/images/default-profil/daron-chauve.jpg'),
                            'nom': 'Alice GUEGAN',
                            'number': '210',
                        } %}	{% include 'components/containers/classement.html.twig' with {
                            'classement': '1',
                            'image_path': asset('/images/default-profil/daron-chauve.jpg'),
                            'nom': 'Alice GUEGAN',
                            'number': '210',
                        } %}
					</div>
				</div>
				<!-- Tabs 2 -->
				<div id="second" class="space-y-16">
					<div class="flex justify-center items-end gap-2">
						<!-- Podium 2ème place -->
						<div class="text-center bg-gray-100 rounded-lg shadow-lg w-32 transform translate-y-2">
							{% include 'components/containers/podium.html.twig' with {
                                    'classement': '2',
                                    'image_path': asset('/images/default-profil/daron-chauve.jpg'),
                                    'nom': 'Bob LEBRON',
                                    'number': '180',
                                } %}
						</div>

						<!-- Podium 1ère place, plus élevé -->
						<div class="text-center bg-gray-100 rounded-lg shadow-lg w-32 transform -translate-y-5">
							{% include 'components/containers/podium.html.twig' with {
                                'classement': '1',
                                'image_path': asset('/images/default-profil/daron-chauve.jpg'),
                                'nom': 'Alice GUEGAN',
                                'number': '210',
                            } %}
						</div>

						<!-- Podium 3ème place -->
						<div class="text-center bg-gray-100 rounded-lg shadow-lg w-32 transform translate-y-4">
							{% include 'components/containers/podium.html.twig' with {
                                'classement': '3',
                                'image_path': asset('/images/default-profil/daron-chauve.jpg'),
                                'nom': 'Charlie DUPONT',
                                'number': '160',
                            } %}
						</div>
					</div>
					<!-- Liste places suivantes -->
					<div class="space-y-4 flex flex-col justify-center justify-self-center">
						{% include 'components/containers/classement.html.twig' with {
                            'classement': '1',
                            'image_path': asset('/images/default-profil/daron-chauve.jpg'),
                            'nom': 'Alice GUEGAN',
                            'number': '210',
                        } %}	{% include 'components/containers/classement.html.twig' with {
                            'classement': '1',
                            'image_path': asset('/images/default-profil/daron-chauve.jpg'),
                            'nom': 'Alice GUEGAN',
                            'number': '210',
                        } %}
					</div>
				</div>
			</div>

			<script>
				function setActiveTab(activeTabId) { // Désactive tous les onglets
document.querySelectorAll('.tab-content').forEach(tab => {
tab.classList.remove('bg-greenDark', 'text-white');
tab.classList.add('bg-greenMint', 'text-greenDark');
});

// Active le style de l'onglet sélectionné avec fond vert foncé et texte blanc
const activeTab = document.querySelector (`#${activeTabId} .tab-content`);
activeTab.classList.remove('bg-greenMint', 'text-greenDark');
activeTab.classList.add('bg-greenDark', 'text-white');

// Affiche le contenu de l'onglet sélectionné et cache les autres
document.querySelectorAll("#tab-contents > div").forEach(content => {
content.classList.add('hidden');
});
const targetContentId = document.querySelector (`#${activeTabId}`).getAttribute("href");
document.querySelector(targetContentId).classList.remove('hidden');
}

// Initialisation pour activer le premier onglet par défaut
document.addEventListener("DOMContentLoaded", () => {
setActiveTab('tab-top-10');
});
			</script>


		{% endblock %}
